body {
    /*background-color: #bfc4c2;*/
    background-color: white;
}
header{
    margin: 0 auto;
    position: relative;
    height: 165px;
    background-color: lime;
    max-width: 600px;
}

.page{
    position: relative;
    font-family: Calibri; 
    max-width: 600px;
    margin: 0 auto; 
}


footer{
    bottom: 0;
    max-width: 600px;
}

.imgHeader {
    width: 200px;
    position: relative;
    float: right;
    top: 15px;
    right: 15px;
}